body,
html,
#root {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
.content a{
  outline: none;
  text-decoration: none;
  color:green;
}
.content a:hover{
  color:rgb(1, 111, 1);
  text-decoration:underline;
}
